<br>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>User Profile</h1><br>
        <h4>Username: {{ this.user.name }}</h4>
        <h4>Email address: {{ this.user.email }}</h4>
        <br>
        <hr>
    {{# if orders }}
        <h2>My Orders</h2>
        {{# each orders }}
            <div class="card">
                <div class="card-body">
                    <ul class="list-group">
                        {{# each this.items }}
                            <li class="list-group-item">
                                {{ this.item.name }} <span class="badge badge-pill badge-info">$ {{ this.price }}</span> x {{ this.qty }}
                            </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="card-footer">
                    <strong>Total Price: ${{ this.cart.totalPrice }}</strong>
                </div>
            </div><hr>
        {{/each}}{{/if}}
    </div>
</div>